.parent-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  left: 80px;
  position: relative;
  row-gap: 80px;
}

h1 {
  color: hsl(17, 62%, 9%);
  font-family: "Red Hat Text", serif;
  left: 80px;
  position: relative;
}

h4 {
  color: hsl(7, 20%, 60%);
  font-family: "Red Hat Text", serif;
  font-weight: 400;
}

.waffle-label,
.vanilla-label,
.pie-label,
.baklava-label,
.tiramisu-label,
.cake-label,
.brownie-label,
.macaron-label,
.panna-label p {
  color: hsl(14, 65%, 9%);
  font-family: "Red Hat Text", serif;
  font-weight: 600;
}

.waffle-label span,
.vanilla-label span,
.macaron-label span,
.pie-label span,
.baklava-label span,
.tiramisu-label span,
.cake-label span,
.brownie-label span,
.panna-label span {
  color: hsl(14, 86%, 42%);
  font-family: "Red Hat Text", serif;
  font-weight: 600;
}

.your-cart {
  background-color: white;
  border-radius: 15px;
  height: 300px;
  width: 400px !important;
}

.your-cart h2 {
  color: hsl(14, 86%, 42%);
  font-family: "Red Hat Text", serif;
  font-weight: 800;
  left: 20px;
  position: relative;
}

.your-cart p {
  color: hsl(12, 20%, 44%);
  font-family: "Red Hat Text", serif;
  font-weight: 600;
  position: relative;
  text-align: center;
  top: 55%;
}

.pie-container {
  grid-column-start: 3;
  grid-row-start: 2;
}
.your-cart {
  background-color: white;
  height: 300px;
  width: 300px;
}

.baklava-container {
  grid-column-start: 2;
  grid-row-start: 2;
}

.tiramisu-container {
  grid-column-start: 1;
  grid-row-start: 2;
}

.cake-container {
  grid-row-start: 3;
}

.brownie-container {
  grid-row-start: 3;
}

.pannaCotta-Container {
  grid-row-start: 3;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  border-radius: 5px;
  border-style: none;
  height: 200px;
  width: 200px;
}

main {
  display: flex;
  flex-direction: row;
}

body {
  background-color: hsl(26, 54%, 97%);
}

.div1 {
  background-image: url(images/image-waffle-desktop.jpg);
  background-size: cover;
}

button {
  border-radius: 10px;
  height: 40px;
  left: 25%;
  position: relative;
  top: 90%;
  width: 120px;
  border-style: solid 1px hsl(14, 25%, 72%);
  border-color: hsl(14, 25%, 72%);
}

button img {
  position: relative;
  top: 5px;
}

#waffle-count,
#vanilla-count,
#macaron-count,
#pie-count,
#baklava-count,
#tiramisu-count,
#cake-count,
#brownie-count,
#panna-count {
  background-color: hsl(15, 85%, 42%);
  display: flex;
  gap: 38px;
}

#waffle-count img,
#vanilla-count img,
#macaron-count img,
#pie-count img,
#baklava-count img,
#tiramisu-count img,
#cake-count img,
#brownie-count img,
#panna-count img {
  border-radius: 50%;
  border: solid 1px white;
  height: 10px;
  width: 10px;
}

.div2 {
  background-image: url(images/image-creme-brulee-desktop.jpg);
  background-size: cover;
}

.div3 {
  background-image: url(images/image-macaron-desktop.jpg);
  background-size: cover;
}

.div4 {
  background-image: url(images/image-meringue-desktop.jpg);
  background-size: cover;
}

.div5 {
  background-image: url(images/image-baklava-desktop.jpg);
  background-size: cover;
}

.div6 {
  background-image: url(images/image-tiramisu-desktop.jpg);
  background-size: cover;
}

.div7 {
  background-image: url(images/image-cake-desktop.jpg);
  background-size: cover;
}

.div8 {
  background-image: url(images/image-brownie-desktop.jpg);
  background-size: cover;
}

.div9 {
  background-image: url(images/image-panna-cotta-desktop.jpg);
  background-size: cover;
}

.your-cart {
  background-image: url(images/illustration-empty-cart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
}
.your-cart p {
  position: relative;
  text-align: center;
  top: 55%;
}
