.parent-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  row-gap: 80px;
}

.div4 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.div5 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.div6 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.div7 {
  grid-row-start: 3;
}

.div8 {
  grid-row-start: 3;
}

.div9 {
  grid-row-start: 3;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  border-style: none;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  background-color: red;
}

main {
  display: flex;
  flex-direction: row;
}

body {
  background-color: hsl(26, 54%, 97%);
}

.your-cart {
  height: 300px;
  width: 300px;
  background-color: white;
}

.div1 {
  background-image: url(images/image-waffle-desktop.jpg);
  background-size: cover;
}

button {
  height: 40px;
  width: 120px;
  position: relative;
  left: 25%;
  top: 90%;
  border-radius: 10px;
}

button img {
  position: relative;
  top: 5px;
}

#waffle-count {
  background-color: hsl(15, 85%, 42%);
  display: flex;
  gap: 38px;
  display: none;
}

#waffle-count img {
  border: solid 1px white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.div2 {
  background-image: url(images/image-creme-brulee-desktop.jpg);
  background-size: cover;
}

.div3 {
  background-image: url(images/image-macaron-desktop.jpg);
  background-size: cover;
}
